### FOR LOOP 
    A for loop in Python is used to iterate over a sequence (like a list, string, tuple, or range) and execute a block of code for each item in the sequence.

for variable in sequence:

    # code block

In [1]:
lst = [1,2,3,4,5]
for x in lst:
    print(x)

1
2
3
4
5

In [3]:
name = "Rohit"
for x in name:
    print(x)

R
o
h
i
t

In [4]:
for item in "hello":
    print(item)

h
e
l
l
o

In [5]:
for x in range(5):
    print(x )

0
1
2
3
4

In [6]:
for x in range(2, 5):
    print(x )

2
3
4

In [ ]:
for x in range(2,22,2):  ## 2 is starting point 22 ending point and 2 gap 
    print(x )

2
4
6
8
10
12
14
16
18
20

In [ ]:
dct = {
    {"name":"Rohit",
    "age":24,
    "phone":1651161545}

}

for item in dct.items():
    print(item)

('name', 'Rohit')
('age', 24)
('phone', 1651161545)

In [9]:
for i in range(1, 51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [10]:
name = "raj gehlot"
cnt = 0
for i in name:
    if (i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u'):
        cnt += 1
print("Vowels: ", cnt)

Vowels:  3

##### While loop
    is used to repeat a block of code as long as a given condition is True.

In [ ]:
# while condition :
#     code block

In [11]:
x = 1 
while x <=5:
    print(x)
    x+=1

1
2
3
4
5

In [ ]:
x = 0 
while (x < 5):
    print(x)
    x += 1

0
1
2
3
4

In [14]:
print("12345")

12345

#### Break Statement
* immediately stop

In [15]:
for x in range(1,6):
    if x ==3:
        break
    print(x)

1
2

#### Continue Statement 
* skip

In [16]:
for x in range(1,6):
    if x ==3:
        continue
    print(x)

1
2
4
5